{% extends "pagePrototype.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}

    <div class="container">

        <div class="row">

            {% include "partials/listagem/listagemContas.twig" %}

            <hr />

            <div style="width: 100%; height: 1px; background: #ccc;margin: 20px 0 20px 0;"></div>

            {% include "partials/listagem/listagemAgencias.twig" %}

        </div>

    </div> <!--container-->

{% endblock %}
