{% extends "pagePrototype.twig" %}

{% block title %}Efetuar um saque | SISAB{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}

    <div class="container">
        <div class="row">

            <h2 class="h2-heading">Efetuar um saque</h2>

        </div> <!--row-->
    </div>

{% endblock %}

