{% extends "pagePrototype.twig" %}

{% block title %}Efetuar um saque | SISAB{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}

    <div class="container">

        <h2 class="h2-heading">Efetuar um saque</h2>

        <div class="card">
            <div class="card-header">Registrar uma operação de saque</div>

            <div class="card-body">

                <form class="needs-validation" novalidate method="GET" action="{{ path }}contas/operacao">

                    <div class="form-group row">
                        <label for="selectAgencias" class="col-sm-2 col-form-label">Número da conta</label>
                        <div class="col-sm-10">
                            <select name="agencia" class="form-control custom-select" id="selectAgencias" required>
                                <option selected>Selecione a conta...</option>
                                {% for conta in contas %}
                                    <option value="{{ conta.id }}">{{ conta.numero }} de {{ conta.nome_agencia }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputValor" class="col-sm-2 col-form-label">Valor</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="valor" id="inputValor" placeholder="Valor do saque" required>
                        </div>
                        <div class="valid-feedback">
                            Parece bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um número válido
                        </div>
                    </div>

                    <input type="hidden" name="operacao" value="saque">

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit">Efetuar operação</button>
                        </div>
                    </div>

                </form>

            </div> <!--card-body-->

        </div> <!--card-->
    </div>

{% endblock %}

