<div class="container">

    <div class="menu-system-wrapper">
        <a href="{{ path }}agencias" class="card-style">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Agências</h5>
                    <p class="card-text">Módulo para manipular as agências</p>
                </div>
            </div>
        </a>

        <a href="{{ path }}contas" class="card-style">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Contas</h5>
                    <p class="card-text">Módulo para manipular as contas de uma agência</p>
                </div>
            </div>
        </a>

        <a href="{{ path }}listagem" class="card-style">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Dados do sistema</h5>
                    <p class="card-text">Módulo para ver os dados centrais do sistema (agências, contas etc)</p>
                </div>
            </div>
        </a>
    </div>

</div>

