{% extends "pagePrototype.twig" %}

{% block title %}Home{% endblock %}

{% block body %}

    {% include "partials/header.twig" %}

    <div class="container">

        <div class="card">

            <div class="card-header">Adicionar uma nova conta</div>

            <div class="card-body">

                <form class="needs-validation" novalidate method="GET">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Número</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="numero" id="inputEmail" placeholder="Número da conta" required>
                        </div>
                        <div class="valid-feedback">
                            Parece bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um número válido
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputLimite" class="col-sm-2 col-form-label">Limite</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="limite" id="inputLimite" placeholder="Limite" required>
                        </div>
                        <div class="valid-feedback">
                            Parece Bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um valor numérico válido
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputRendimento" class="col-sm-2 col-form-label">Rendimento</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="rendimento" id="inputRendimento" placeholder="Rendimento" required>
                        </div>
                        <div class="valid-feedback">
                            Parece Bom!
                        </div>
                        <div class="invalid-feedback">
                            Digite um rendimento anual para a conta (valor que representa o percentual)
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputRendimento" class="col-sm-2 col-form-label">Agência</label>
                        <div class="col-sm-10">
                            <select class="custom-select" id="inputGroupSelect01">
                                <option selected>Selecione a agência...</option>

                                {% for agencia in agencias %}
                                    <option value="{{ agencia.id_agencia }}">Agência {{ agencia.numero_agencia }}, {{ agencia.endereco }}</option>
                                {% endfor %}

                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button class="btn btn-primary" type="submit">Adicionar Conta</button>
                        </div>
                    </div>

                </form>

            </div> <!--card-body-->

        </div> <!--card-->

    </div> <!--container-->

    <script>

        (function() {
            'use strict';
            window.addEventListener('load', function() {

                var forms = document.getElementsByClassName('needs-validation');

                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

{% endblock %}

