
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2980b9;">

    <a class="navbar-brand" href="/sisab">SISAB - Internet Banking <span style="font-size: 11px;">Módulo do Administrador</span></a>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opções
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="agencias">Adicionar uma nova Agência</a>
                    <a class="dropdown-item" href="agencias/listar">Ver todas as Agências</a>
                </div>
            </li>
        </ul>
    </div>
</nav>